body {
    background: #000;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%
}

.container {
    background: #fff;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0 30px;
}

.NavBar .list ul {
    list-style-type: none;
}

.NavBar .list ul li {
    display: inline-block;
    padding: 0px 20px;
    font-weight: 700;
    cursor: pointer;
}

.NavBar .list ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
}

.NavBar .list ul li:hover a {
    border-bottom: 3px solid #FFCD00;
}

.content {
    margin: 80px 30px 0px 30px;
}

.content .title {
    display: flex;
    align-items: baseline;
}

.content .title span {
    display: inline-block;
}

.content .title div {
    margin-left: 20px;
}

.content .title div:first-of-type {
    margin-right: 20px;
}

.content .title a{
    text-decoration: none;
    color:#000;
}

.content .title h1{
    font-size: 3.5em;
    margin-right: 20px;
}

.content .News {
    display: flex;
}

.content .News {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .News .card {
    margin-bottom: 30px;
    width: 32%;
    max-width: 32%;
}

.content .News .card .ImgDiv {
    max-height: 401px;
    overflow: hidden;
}

.content .News .card a {
    text-decoration: none;
    color: #000;
}

.content .News .card .ImgDiv img {
    height: 100%;
    max-height: 401px;
    margin: 0 -80%;
    transition: transform .5s ease;
}

.content .News .card p {
    font-weight: 300;
    font-size: 13px;
    margin: 0;
}

.content .News .card h3 {
    margin: 10px 0px;
}

.banner {
    height: 100px;
    display: flex;
    background-color: #000;
    color: #fff;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
}

.banner h1 {
    font-size: 3.5em;
    transition: all 0.5s;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    padding: 30px;
    background-color: #EBEBEB;
}

.footer .address {
    display: flex;
    justify-content: space-between;
    height: 130px;
}

.footer .upper p {
    margin: 0;
    margin-bottom: 5px;
}

.footer .address div {
    display: flex;
    margin-right: 50px;
    flex-direction: column;
}

.footer .address div :last-child {
    margin-top: auto;
}

.footer .upper {
    display: flex;
}

.footer .upper .mail {
    margin-left: auto;
}

.footer .upper .mail div {
    display: flex;
    margin-top: 20px;
    width: 25vw;
    padding: 0px 5px;
    border-bottom: 1px solid #000;
}

.footer .upper .address div p {
    font-size: 13px;
}

.footer .upper .mail p {
    letter-spacing: 1px;
    font-weight: 700;
}

.footer .upper .mail div button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.footer .upper .address div :first-child{
    font-weight: 700;
}

.footer .upper .mail input {
    flex-grow: 2;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
}

.footer .lower {
    display: flex;
    justify-content: space-between;
}

.footer .lower div {
    display: flex;
    align-items: center;
}

.footer .lower div svg {
    display: block;
    margin-left: 20px;
    transition: fill 0.2s;
}

.footer .lower p {
    flex-grow: 1;
    font-size: 14px;
}

.footer .upper .mail input::placeholder {
    color: #000;
}

.banner:hover {
    background-color: #FFCD00;
    color: #000;
}

.banner:hover :nth-child(2) {
    font-size: 5em;
}

.footer .lower div svg:hover {
    cursor: pointer;
    fill: #707070;
}

.content .post-heading *{
    margin: 0;
}

.content .News .card .ImgDiv:hover img {
    cursor: pointer;
    transform: scale(1.1);
    filter: opacity(50%);
}

/* 
    PAGE 2
*/

.content .post-heading h1{
    font-size: 3.5em;
    margin-right: 20px;
}

.content .blog {
    margin-top: 20px;
}

.content .blog img {
    max-width: 100%;
    min-width: 100%;
}

.content .blog .text p{
    font-weight: 300;
    line-height: 1.5;
}

.content .blog .text {
    display: flex;
    margin-bottom: 50px;
}

.content .blog .text .main{
    max-width: 70%;
}

.content .posts .News .card .ImgDiv img {
    object-fit: cover;
    margin: 0;
}

.content .blog .text .main figure {
    margin: 0;
}

.content .blog .text .sidebar{
    flex-grow: 1;
    width: 30%;
    padding-left: 30px;
}

.content .blog .text h1{
    font-size: 1.3em;
    font-weight: 600;
}

.content .blog .button-grp {
    display: flex;
    flex-wrap: wrap;
}

.content .blog .button-grp button{
    background: none;
    outline: none;
    border: 1px solid #000;
    padding: 1.1em 1.5em;
    margin: 10px 8px 0px 0px;
}

.content .blog .button-grp a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}